.loader {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: green;
  animation: animation-loader infinite 2s alternate;
}

@keyframes animation-loader {
  from {
    transform: scale(0,0);
  }
  to {
    transform: scale(1,1);
  }
}
